*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body
{
  margin: 0;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #083c54c8;
}

.board {
  width: full;
  background-color: #fff;
}
